@import "~@fortawesome/fontawesome-free/css/all.css";
* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Arial, Tahoma, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% + 100px);
}

.header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  background-color: #fff;
  border-top: 0px solid #e9ecef;
  border-right: 0px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  border-left: 0px solid #e9ecef;
}
.header .info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header .info img {
  width: 40px;
  height: 40px;
}
.header .info .title {
  display: flex;
  flex-direction: column;
  height: 40px;
  gap: 4px;
  justify-content: space-between;
  align-items: baseline;
}
.header .info .title .name {
  font-size: 16px;
  font-weight: 600;
}
.header .info .title .locate {
  color: #b3bac5;
}
.header .info .title .locate i {
  margin-right: 8px;
}
.header .action i {
  font-size: 16px;
}
.header .action i:nth-child(2) {
  margin: 0 16px;
}

.content {
  padding: 16px;
  height: calc(100% - 100px);
  overflow-y: auto;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column-reverse;
  border-top: 0px solid #e9ecef;
  border-right: 0px solid #e9ecef;
  border-bottom: 0px solid #e9ecef;
  border-left: 1px solid #e9ecef;
}
.content .item {
  width: 85%;
  margin: 12px 0;
}
.content .item .user {
  display: flex;
  gap: 8px;
}
.content .item .user .avatar {
  width: 30px;
  height: 30px;
}
.content .item .user .name {
  margin-top: 4px;
}
.content .item .text {
  margin-left: 38px;
  margin-top: -8px;
  width: fit-content;
  padding: 12px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  border-top: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  border-left: 1px solid #e9ecef;
}
.content .item .text img {
  width: 400px;
  height: auto;
}
.content .item .text p {
  text-align: justify;
  word-break: break-word;
}
.content .item .text .time {
  display: none;
  width: 30px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 4px));
  padding: 8px;
  color: #fff;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}
.content .item .text:hover .time {
  display: block;
}
.content .my-chat {
  margin: 8px 0 8px auto;
}
.content .my-chat .text {
  background-color: #38c585;
  color: #fff;
  margin-left: auto;
}
.content .my-chat .text .time {
  right: auto;
  left: 0;
  transform: translateX(calc(-100% - 4px));
}
.content .status {
  margin-left: auto;
  margin-bottom: 6px;
}

.chat-action {
  max-height: 100px;
  padding: 16px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  left: calc(30% + 1px);
  right: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  border-top: 0px solid #e9ecef;
  border-right: 0px solid #e9ecef;
  border-bottom: 0px solid #e9ecef;
  border-left: 1px solid #e9ecef;
}
.chat-action .holder {
  width: calc(100% - 80px);
  max-height: 100px;
  height: auto;
  padding: 0 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-color: #f8f9fa;
  position: relative;
}
.chat-action .holder .input-mess {
  padding-top: 20px;
  resize: none;
  width: 96%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  overflow-y: auto;
  max-height: 100px;
}
.chat-action .holder .input-mess::placeholder {
  color: #b3bac5;
}
.chat-action .holder i {
  position: absolute;
  bottom: 15px;
  right: 8px;
  font-size: 24px;
  cursor: pointer;
}
.chat-action .holder .emoji {
  position: absolute;
  bottom: 40px;
  right: 0px;
  box-shadow: 0 0 4px 3px #e9ecef;
}
.chat-action .upfile {
  position: absolute;
  right: 106px;
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
}
.chat-action .upFileIcon {
  font-size: 24px;
}
.chat-action .send {
  width: 80px;
  height: 50px;
  font-size: 16px;
}

.scroll-to-bottom {
  position: fixed;
  bottom: 120px;
  right: 35%;
  width: 30px;
  height: 30px;
  background-color: #38c585;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-bottom i {
  font-size: 20px;
}

.scroll-to-bottom:hover {
  background-color: #32b177;
}

/*# sourceMappingURL=chatContent.css.map */
