@import "~@fortawesome/fontawesome-free/css/all.css";
* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Arial, Tahoma, sans-serif;
}

.chat {
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: #fff;
}
.chat .left {
  width: 30%;
  height: calc(100% - 80px - 50px - 32px);
  border-top: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
  border-bottom: 0px solid #e9ecef;
  border-left: 1px solid #e9ecef;
}
.chat .right {
  width: 70%;
}
.chat .top {
  height: 80px;
  border-top: 0px solid #e9ecef;
  border-right: 0px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  border-left: 0px solid #e9ecef;
}

.left .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.left .top .logo {
  font-size: 28px;
  font-weight: 600;
  color: #38c585;
  text-shadow: 0 0 1px #000;
}
.left .top .avatar {
  width: 40px;
  height: 40px;
}
.left .search {
  height: 50px;
  margin: 16px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  border-radius: 4px;
}
.left .search input[type=text] {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
}
.left .search input[type=text]::placeholder {
  color: #b3bac5;
}
.left .search i {
  color: #b3bac5;
  font-size: 16px;
}
.left .isUserSelect {
  background-color: #f0f0f0;
}
.left .chat-list {
  border-top: 1px solid #e9ecef;
  border-right: 0px solid #e9ecef;
  border-bottom: 0px solid #e9ecef;
  border-left: 0px solid #e9ecef;
  height: 100%;
  overflow: auto;
}
.left .chat-list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
  transition: all 0.25s linear;
}
.left .chat-list .item:hover {
  background-color: #f0f0f0;
}
.left .chat-list .item-info {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}
.left .chat-list .item-img {
  width: 40px;
  height: 40px;
}
.left .chat-list .item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}
.left .chat-list .item-content .title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.left .chat-list .item-content .title .name {
  font-weight: 600;
  font-size: 16px;
}
.left .chat-list .item-content .title i {
  color: #38c585;
}
.left .chat-list .item-content .desc {
  color: #b3bac5;
}
.left .chat-list .item-status {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.left .chat-list .item-status .amount {
  color: #fff;
  background: #e75f5f;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.left .chat-list p {
  font-size: 20px;
  padding-top: 20px;
}

.show {
  display: block !important;
}

.rightFull {
  height: 100%;
}

.rightCalc {
  height: calc(100% - 80px - 50px - 50px - 80px);
}

.right .top {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right .top .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.right .top .action Button {
  width: fit-content;
  text-transform: uppercase;
}
.right .top .action .event {
  background-color: #e9ecef;
  color: #96a1af;
}
.right .top .action .logout {
  background-color: red;
}
.right .top .location {
  display: flex;
  align-items: center;
  gap: 50px;
}
.right .top .location .info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.right .top .location .info i {
  color: #38c585;
  font-size: 20px;
  background-color: #dff6eb;
  padding: 8px 10px;
  border-radius: 50%;
}
.right .top .location .info .desc {
  text-align: left;
}
.right .top .location .info .desc .title {
  color: #38c585;
}
.right .top .location .info .desc .locate {
  font-size: 14px;
}

/*# sourceMappingURL=chat.css.map */
