@import "base";

.main {
  text-align:center;
  background-color: $green;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1{
    font-size: 13em;
    color: #fff;
    line-height: 1;
  }

  h2{
    margin-top: 20px;
    font-size: 2em;
    color: #fff;
    text-transform: capitalize;
  }

  .more_w3ls {
    margin:3em 0 5em;

    a{
      padding: 8px 70px;
      background:#FFFFFF;
      text-decoration: none;
      color: #212121;
      font-size: 1em;
      text-transform: uppercase;
      transition:.5s ease-in;
      -webkit-transition:.5s ease-in;
      -moz-transition:.5s ease-in;
      -o-transition:.5s ease-in;
      -ms-transition:.5s ease-in;

      &:hover{
        background:#afe8ce;
        color:#212121;
      }
    }

  }
}